## 1. METODOS BÁSICOS DE EXPLORACIÓN

In [21]:
class DataAnalyzer:
    """
    Clase para realizar análisis exploratorio y visualización de datos.
    """
    def __init__(self):
        """
        Inicializa el objeto DataAnalyzer.
        """
        self.data = None

    def load_data(self, path: str) -> None:
        """
        Carga los datos desde un archivo CSV o Excel.
        
        Args:
            path (str): Ruta del archivo.
        """
        try:
            if path.endswith('.csv'):
                self.data = pd.read_csv(path)
            elif path.endswith('.xlsx') or path.endswith('.xls'):
                self.data = pd.read_excel(path)
            else:
                raise ValueError("El formato de archivo no es compatible. Use CSV o Excel.")
            print("Datos cargados exitosamente.")
        except Exception as e:
            print(f"Error al cargar los datos: {e}")

    def get_info(self, visual: bool = True) -> None:
        """
        Muestra información básica del dataset de manera visual usando pandas.
        
        Args:
            visual (bool): Si es True, muestra la información de forma visual.
        """
        if self.data is None:
            print("No hay datos cargados. Use el método load_data primero.")
            return

        # Información básica
        dimensiones = pd.DataFrame({
            "Descripción": ["Filas", "Columnas"],
            "Valor": [self.data.shape[0], self.data.shape[1]]
        })

        tipos_datos = pd.DataFrame({
            "Columna": self.data.columns,
            "Tipo": self.data.dtypes.values
        })

        memoria = pd.DataFrame({
            "Descripción": ["Memoria utilizada (MB)"],
            "Valor": [round(self.data.memory_usage(deep=True).sum() / 1_048_576, 2)]
        })

        resumen_estadistico = self.data.describe(include='all').transpose()

        # Imprimir información visualmente
        if visual:
            print("\nDimensiones:")
            display(dimensiones)
            
            print("\nTipos de datos:")
            display(tipos_datos)
            
            print("\nMemoria utilizada:")
            display(memoria)
            
            print("\nResumen estadístico:")
            display(resumen_estadistico)
        else:
            # Alternativa en caso de querer obtener los datos en formato texto
            print("Dimensiones:")
            print(dimensiones.to_string(index=False))
            
            print("\nTipos de datos:")
            print(tipos_datos.to_string(index=False))
            
            print("\nMemoria utilizada:")
            print(memoria.to_string(index=False))
            
            print("\nResumen estadístico:")
            print(resumen_estadistico.to_string())

    def describe_numeric(self, visual: bool = True) -> pd.DataFrame:
        """
        Análisis estadístico detallado de variables numéricas.

        Args:
            visual (bool): Si es True, muestra los resultados como tabla.

        Retorna:
            pd.DataFrame: Estadísticas como media, mediana, moda, desviación estándar,
                          cuartiles, asimetría y curtosis.
        """
        if self.data is None:
            print("No hay datos cargados. Use el método load_data primero.")
            return None

        numeric_data = self.data.select_dtypes(include=['number'])
        if numeric_data.empty:
            print("No hay variables numéricas en el dataset.")
            return None

        analysis = pd.DataFrame({
            "Media": numeric_data.mean(),
            "Mediana": numeric_data.median(),
            "Moda": numeric_data.mode().iloc[0],
            "Desviación Estándar": numeric_data.std(),
            "Cuartil 25%": numeric_data.quantile(0.25),
            "Cuartil 75%": numeric_data.quantile(0.75),
            "Asimetría": numeric_data.skew(),
            "Curtosis": numeric_data.kurt()
        })

        if visual:
            print("\nAnálisis Estadístico de Variables Numéricas:")
            display(analysis)
        return analysis

In [23]:
# Crear una instancia de la clase
analyzer = DataAnalyzer()

# Cargar los datos
analyzer.load_data('drinks.csv')

# Obtener información básica
info = analyzer.get_info()
print(info)

numeric_stats = analyzer.describe_numeric()
print("Estadísticas de Variables Numéricas:")
print(numeric_stats)

Datos cargados exitosamente.

Dimensiones:

  Descripción  Valor
0       Filas    193
1    Columnas      6

Tipos de datos:

                        Columna     Tipo
0                       country   object
1                 beer_servings    int64
2               spirit_servings    int64
3                 wine_servings    int64
4  total_litres_of_pure_alcohol  float64
5                     continent   object

Memoria utilizada:

              Descripción  Valor
0  Memoria utilizada (MB)   0.03

Resumen estadístico:

,count,unique,top,freq,mean,std,min,25%,50%,75%,max
country,193,193,Afghanistan,1,NaN,NaN,NaN,NaN,NaN,NaN,NaN
beer_servings,193.0,NaN,NaN,NaN,106.160622,101.143103,0.0,20.0,76.0,188.0,376.0
spirit_servings,193.0,NaN,NaN,NaN,80.994819,88.284312,0.0,4.0,56.0,128.0,438.0
wine_servings,193.0,NaN,NaN,NaN,49.450777,79.697598,0.0,1.0,8.0,59.0,370.0
total_litres_of_pure_alcohol,193.0,NaN,NaN,NaN,4.717098,3.773298,0.0,1.3,4.2,7.2,14.4
continent,170,5,AF,53,NaN,NaN,NaN,NaN,NaN,NaN,NaN

None

Análisis Estadístico de Variables Numéricas:

,Media,Mediana,Moda,Desviación Estándar,Cuartil 25%,Cuartil 75%,Asimetría,Curtosis
beer_servings,106.160622,76.0,0.0,101.143103,20.0,188.0,0.816881,-0.462082
spirit_servings,80.994819,56.0,0.0,88.284312,4.0,128.0,1.292148,1.476190
wine_servings,49.450777,8.0,0.0,79.697598,1.0,59.0,1.909473,2.944440
total_litres_of_pure_alcohol,4.717098,4.2,0.0,3.773298,1.3,7.2,0.428704,-0.980222

Estadísticas de Variables Numéricas:
                                   Media  Mediana  Moda  Desviación Estándar  \
beer_servings                 106.160622     76.0   0.0           101.143103
spirit_servings                80.994819     56.0   0.0            88.284312
wine_servings                  49.450777      8.0   0.0            79.697598
total_litres_of_pure_alcohol    4.717098      4.2   0.0             3.773298

                              Cuartil 25%  Cuartil 75%  Asimetría  Curtosis
beer_servings                        20.0        188.0   0.816881 -0.462082
spirit_servings                       4.0        128.0   1.292148  1.476190
wine_servings                         1.0         59.0   1.909473  2.944440
total_litres_of_pure_alcohol          1.3          7.2   0.428704 -0.980222